# .env

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=horror_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SUPABASE_PROJECT=<your supabase project here>
SUPABASE_USER=postgres.<your supabase project here>
SUPABASE_PASSWORD=<MOT_DE_PASSE>
SUPABASE_DB=postgres
SUPABASE_HOST=db.<your supabase project here>.supabase.co
SUPABASE_PORT=6543
SUPABASE_HOST=<your supabase host>.pooler.supabase.com
# to check the host go to you project, go to SUPABASE_MIGRATION.md